<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="https://www.colebjohnson.com" target="_blank">
          Cole Johnson
        </a>
      </h1>
      <p class="lead">This is my portfolio. <br>I hope you enjoy!</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://www.colebjohnson.com">Home</a>
      <a class="sidebar-nav-item" href="https://portfolio.colebjohnson.com/research">Research</a>
      <a class="sidebar-nav-item" href="https://portfolio.colebjohnson.com/experience">Industry & Start-Up</a>
      <div class="sidebar-nav-item-row">
        <span>Projects:</span>
        <a class="sidebar-nav-item" href="https://portfolio.colebjohnson.com/makerprojects">Maker</a>
        <span class="separator">&middot;</span>
        <a class="sidebar-nav-item" href="https://portfolio.colebjohnson.com/otherprojects">Non-Maker</a>
      </div>      
      <div class="sidebar-nav-item-row">
        <a class="sidebar-nav-item" href="https://portfolio.colebjohnson.com/education">Education</a>
        <span class="separator">&middot;</span>
        <a class="sidebar-nav-item" href="https://www.linkedin.com/in/colebjohnson" target="_blank">LinkedIn</a>
        <span class="separator">&middot;</span>
        <a class="sidebar-nav-item" href="https://portfolio.colebjohnson.com/experience/resume.pdf" target="_blank">Resume</a>
      </div>
    </nav>

    <p>&copy; 2024. All rights reserved.</p>
  </div>
</div>
<style>
.sidebar-nav-item-row {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Adjust spacing as needed */
}

.separator {
  font-size: 1.2em; /* Adjust size as needed */
  line-height: 1;
}</style>
