<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="https://portfolio.colebjohnson.com">
          Cole Johnson
        </a>
      </h1>
      <p class="lead">This is my portfolio. <br>I hope you enjoy!</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://www.colebjohnson.com">Home</a>
      <a class="sidebar-nav-item" href="https://portfolio.colebjohnson.com/research">Research</a>
      <a class="sidebar-nav-item" href="https://portfolio.colebjohnson.com/experience">Industry & Start-Up</a>
      <a class="sidebar-nav-item" href="https://portfolio.colebjohnson.com/makerprojects">Maker Projects</a>
      <a class="sidebar-nav-item" href="https://portfolio.colebjohnson.com/otherprojects">Other Projects</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/colebjohnson">LinkedIn</a>
    </nav>

    <p>&copy; 2024. All rights reserved.</p>
  </div>
</div>
